{% extends 'base.html' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

{% block content %}
    <h2 style="color:blue; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> TODO List</h2>
    <a href="{% url 'todo_create' %}" Add Task class="btn btn-info mb-3">Add Task</a>

    <ul>
        {% for todo in todos %}
            {{ todo.title }}
            {{ todo.description }}<br>

        <a href="{% url 'todo_update' todo.id %}"> Update task</a>
        <a href="{% url 'todo_delete' todo.id %}"> Delete task</a>
        {% endfor %}
    </ul>
    <h1>hello</h1>
{% endblock %}